<div class="main user-show">
  <div class="container">
  <div class="user">
      <% name=@user.name %>
      <% @emojis.each do |emoji| %>
          <% if emoji.gif %>
              <% name.gsub!(/:#{emoji.content}:/,"\<img class=\"user-emoji\" src=\"/emoji/#{emoji.content}.gif\"\>") %>
          <% else %>
              <% name.gsub!(/:#{emoji.content}:/,"\<img class=\"user-emoji\" src=\"/emoji/#{emoji.content}.png\"\>") %>
          <% end %>
      <% end %>
      <img class="user_icon" src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%== name %></h2>
      <p><%= @user.email %></p>
      <% if @current_user %>
          <% if @user.id == @current_user.id %>
              <%= link_to("編集","/users/#{@user.id}/edit") %>
          <% end %>
      <% end %>
  </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    <% @likes.each do |like| %>
      <!-- 変数postを定義してください -->
      <% post=Post.find_by(id: like.post_id) %>
      
      <% @emojis.each do |emoji| %>
        <% if emoji.gif %>
          <% post.content.gsub!(/:#{emoji.content}:/,"\<img class=\"emoji\" src=\"/emoji/#{emoji.content}.gif\"\>") %>
        <% else %>
          <% post.content.gsub!(/:#{emoji.content}:/,"\<img class=\"emoji\" src=\"/emoji/#{emoji.content}.png\"\>") %>
        <% end %>
      <% end %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to("/users/#{post.user.id}") do %>
              <%== name %>
            <% end %>
          </div>
          <%== post.content %>
          <br>
          <% if post.image_name %>
            <img class="post-img" src="<%= "/post_images/#{post.image_name}" %>">
            <br>
          <% end %>
          <% if post.image_name1 %>
            <img class="post-img" src="<%= "/post_images/#{post.image_name1}" %>">
            <br>
          <% end %>
          <% if post.image_name2 %>
            <img class="post-img" src="<%= "/post_images/#{post.image_name2}" %>">
            <br>
          <% end %>
          <% if post.image_name3 %>
            <img class="post-img" src="<%= "/post_images/#{post.image_name3}" %>">
            <br>
          <% end %>
          <% if post.quote_id %>
            <% quote=Post.find_by(id: post.quote_id) %>
            <div class="quote-from">
            <% if quote %>
              <% quote_name=quote.user.name %>
              <% @emojis.each do |emoji| %>
                  <% quote.content.gsub!(/:#{emoji.content}:/,"\<img class=\"emoji\" src=\"/emoji/#{emoji.content}.png\"\>") %>
                  <% quote_name.gsub!(/:#{emoji.content}:/,"\<img class=\"emoji\" src=\"/emoji/#{emoji.content}.png\"\>") %>
              <% end %>
              <div class="post-left">
                  <img src="<%= "/user_images/#{quote.user.image_name}" %>">
              </div>
              <div class="post-user-name">
                  <%= link_to("/users/#{quote.user.id}") do %>
                    <%== quote_name %>
                  <% end %>
              </div>
              <div class="post-main">
                  <p>
                  <%== quote.content.gsub(/な/,"にゃ") %>
                  </p>
              </div>
              <div class="post_link">
                <%= link_to("投稿の詳細へ", "/posts/#{quote.id}") %>
              </div>
            <% else %>
                <p>投稿は削除されました</p>
            <% end %>
            </div>
          <% end %>
          <br>
          <%= link_to("投稿の詳細へ","/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>